.columns .column.main {
    max-width: 100%;
}

.affirm-promo iframe {
    max-width: 100%;
}

#learn-more img {
    height: 1em !important;
    margin: 0 .3em !important;
    vertical-align: baseline !important;
}