.affirm-info-head {
   margin-top: 0 !important;
}

.affirm-item {
    margin-bottom: 1.5em;
}

.affirm-payment-icon {
    vertical-align: baseline !important;
    max-height: 1.5em;
    width: auto;
}