<?xml version="1.0"?>
<!--
 /**
 * Astound
 * Affirm config default values.
 *
 * @category  Affirm
 * @package   Astound_Affirm
 * @copyright Copyright (c) 2016 Astound, Inc. (http://www.astoundcommerce.com)
 */
 -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <affirm_gateway>
                <active>0</active>
                <debug>1</debug>
                <model>OnePicaAffirmGatewayFacade</model>
                <mode>sandbox</mode>
                <private_api_key_sandbox backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <private_api_key_production backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <min_order_total>0.01</min_order_total>
                <max_order_total>50000</max_order_total>
                <payment_action>authorize</payment_action>
                <disable_for_backordered_items>0</disable_for_backordered_items>
                <allowspecific>1</allowspecific>
                <specificcountry>US,AS,GU,MP,PR,VI</specificcountry>
                <allowspecificcurrency>1</allowspecificcurrency>
                <currency>USD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>0</sort_order>
                <title>Affirm</title>
                <icon>https://cdn-assets.affirm.com/images/blue_logo-transparent_bg.png</icon>
                <info>Pay over time</info>
                <virtual_terminal_url>http://help.merchants.affirm.com/article/67-virtual-terminal-overview</virtual_terminal_url>
                <enable_checkout_button>0</enable_checkout_button>
                <checkout_button_code>https://cdn-assets.affirm.com/images/buttons/30_148-white.png</checkout_button_code>
                <checkout_button_width>148</checkout_button_width>
                <checkout_flow_type>Modal</checkout_flow_type>
                <notification>
                    <notification_update>1</notification_update>
                </notification>
            </affirm_gateway>
        </payment>
        <affirm>
            <affirm_promo>
                <enabled>0</enabled>
            </affirm_promo>
            <affirm_promo_homepage>
                <display>1</display>
                <size>170x100</size>
                <position>0</position>
            </affirm_promo_homepage>
            <affirm_promo_category>
                <display>1</display>
                <size>170x100</size>
                <position>0</position>
            </affirm_promo_category>
            <affirm_promo_product>
                <display>1</display>
                <size>468x60</size>
                <position>0</position>
            </affirm_promo_product>
            <affirm_promo_checkout_cart>
                <display>1</display>
                <size>468x60</size>
                <position>center-top</position>
            </affirm_promo_checkout_cart>
            <affirm_developer>
                <homepage_container><![CDATA[<div style="width: 100%; text-align: center; padding-bottom: 7px ">{container}</div>]]></homepage_container>
                <category_container><![CDATA[<div style="width: 100%; text-align: center; padding-bottom: 7px ">{container}</div>]]></category_container>
                <product_container><![CDATA[<div style="width: 100%; text-align: center; padding-bottom: 7px ">{container}</div>]]></product_container>
                <checkout_cart_container><![CDATA[<div style="width: 100%; text-align: center; padding-bottom: 7px ">{container}</div>]]></checkout_cart_container>
            </affirm_developer>
            <affirm_aslowas>
                <enabled_pdp>0</enabled_pdp>
                <enabled_sc>0</enabled_sc>
                <apr_value>0.10</apr_value>
                <month>12</month>
                <learn_more>1</learn_more>
            </affirm_aslowas>
            <affirm_pixel>
                <enabled>1</enabled>
            </affirm_pixel>
        </affirm>
        <system>
            <adminnotification>
                <notification_feed>https://github.com/Affirm/Magento2_Affirm/releases.atom</notification_feed>
            </adminnotification>
        </system>
    </default>
</config>
