<?xml version="1.0"?>
<!--
/**
 * OnePica
 * Affirm config default values.
 *
 * @category  Affirm
 * @package   OnePica_Affirm
 * @copyright Copyright (c) 2016 One Pica, Inc. (http://www.onepica.com)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <affirm_gateway>
                <active>0</active>
                <debug>1</debug>
                <model>OnePicaAffirmGatewayFacade</model>
                <mode>sandbox</mode>
                <api_url_sandbox>https://sandbox.affirm.com</api_url_sandbox>
                <api_url_production>https://api.affirm.com</api_url_production>
                <private_api_key_sandbox backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <private_api_key_production backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <min_order_total>0.01</min_order_total>
                <max_order_total>1000</max_order_total>
                <payment_action>authorize</payment_action>
                <allowspecific>1</allowspecific>
                <specificcountry>US</specificcountry>
                <allowspecificcurrency>1</allowspecificcurrency>
                <currency>USD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>0</sort_order>
                <title>Affirm: Buy with Monthly Payments</title>
                <icon>https://cdn1.affirm.com/images/badges/affirm-logo_78x54.png</icon>
                <info>Buy with Monthly Payments</info>
                <virtual_terminal_url>http://help.merchants.affirm.com/article/67-virtual-terminal-overview</virtual_terminal_url>
                <enable_checkout_button>0</enable_checkout_button>
                <checkout_button_code>http://d33v4339jhl8k0.cloudfront.net/docs/assets/54ab19f8e4b08393789ca141/images/54ebbdc6e4b086c0c0968fa2/file-cmGEKUeWtK.png</checkout_button_code>
            </affirm_gateway>
        </payment>
    </default>
</config>
