<?xml version="1.0"?>
<!--
/**
 * OnePica
 * Affirm Payment DI configuration.
 *
 * @category  Affirm
 * @package   OnePica_Affirm
 * @copyright Copyright (c) 2016 One Pica, Inc. (http://www.onepica.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="OnePica\Affirm\Api\OrderServiceManagerInterface" type="OnePica\Affirm\Model\OrderServiceManager" />
    <preference for="OnePica\Affirm\Api\GuestOrderServiceManagerInterface" type="OnePica\Affirm\Model\GuestOrderServiceManager" />
    <!-- Payment Method Facade configuration -->
    <virtualType name="OnePicaAffirmGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\OnePica\Affirm\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">OnePica\Affirm\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OnePicaValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">OnePicaCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">AffirmValidatorPool</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="OnePicaValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OnePicaAffirmGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="OnePicaAffirmGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\OnePica\Affirm\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="OnePicaAffirmGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OnePicaAffirmGatewayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="OnePicaAffirmGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">OnePicaAffirmGatewayConfig</argument>
        </arguments>
    </virtualType>

    <!-- Validators -->
    <virtualType name="AffirmCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">OnePicaAffirmGatewayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="AffirmCurrencyValidator" type="OnePica\Affirm\Gateway\Validator\CurrencyValidator">
        <arguments>
            <argument name="config" xsi:type="object">OnePicaAffirmGatewayConfig</argument>
        </arguments>
    </virtualType>

    <!-- Validator Pool -->
    <virtualType name="AffirmValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">AffirmCountryValidator</item>
                <item name="currency" xsi:type="string">AffirmCurrencyValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Command poll contains our commands requests (authorize, capture, void and etc), now temporary is empty -->
    <virtualType name="OnePicaCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="pre_authorize" xsi:type="string">AffirmGatewayPreAuthorizeCommand</item>
                <item name="authorize" xsi:type="string">OnePica\Affirm\Gateway\Command\AuthorizeStrategyCommand</item>
                <item name="order_authorize" xsi:type="string">AffirmGatewayAuthorizeCommand</item>
                <item name="capture" xsi:type="string">OnePica\Affirm\Gateway\Command\CaptureStrategyCommand</item>
                <item name="order_capture" xsi:type="string">AffirmGatewayCaptureCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Strategy commands -->
    <type name="OnePica\Affirm\Gateway\Command\AuthorizeStrategyCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">OnePicaCommandPool</argument>
        </arguments>
    </type>

    <type name="OnePica\Affirm\Gateway\Command\CaptureStrategyCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">OnePicaCommandPool</argument>
        </arguments>
    </type>
    <!-- Strategy commands -->

    <!-- Authorize command -->
    <virtualType name="AffirmGatewayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">AffirmGatewayAuthorizationRequest</argument>
            <argument name="transferFactory" xsi:type="object">AffirmClientGatewayTransferFactory</argument>
            <argument name="client" xsi:type="object">OnePica\Affirm\Gateway\Http\Client\ClientService</argument>
            <argument name="handler" xsi:type="object">OnePica\Affirm\Gateway\Response\TransactionAuthorizeHandler</argument>
            <argument name="validator" xsi:type="object">OnePica\Affirm\Gateway\Validator\Client\PaymentActionsValidator</argument>
        </arguments>
    </virtualType>

    <!-- Pre Authorize command -->
    <virtualType name="AffirmGatewayPreAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">AffirmGatewayPreAuthorizationRequest</argument>
            <argument name="transferFactory" xsi:type="object">AffirmPreAuthorizationGatewayTransferFactory</argument>
            <argument name="client" xsi:type="object">OnePica\Affirm\Gateway\Http\Client\ClientService</argument>
            <argument name="validator" xsi:type="object">OnePica\Affirm\Gateway\Validator\Client\PaymentActionsValidatorPreAuthorize</argument>
        </arguments>
    </virtualType>
    <!-- Pre Authorize command -->

    <virtualType name="AffirmGatewayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">AffirmGatewayCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">AffirmClientGatewayTransferFactory</argument>
            <argument name="client" xsi:type="object">OnePica\Affirm\Gateway\Http\Client\ClientService</argument>
            <argument name="validator" xsi:type="object">OnePica\Affirm\Gateway\Validator\Client\PaymentActionsValidator</argument>
            <argument name="handler" xsi:type="object">OnePica\Affirm\Gateway\Response\TransactionCaptureHandler</argument>
        </arguments>
    </virtualType>

    <type name="OnePica\Affirm\Gateway\Http\Client\ClientService">
        <arguments>
            <argument name="logger" xsi:type="object">AffirmLogger</argument>
            <argument name="converter" xsi:type="object">OnePica\Affirm\Gateway\Http\Converter\JsonToArray</argument>
        </arguments>
    </type>

    <virtualType name="AffirmLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">OnePicaAffirmGatewayConfig</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request Builder-->
    <virtualType name="AffirmGatewayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">OnePica\Affirm\Gateway\Request\AuthorizationRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Authorization Request Builder-->

    <type name="OnePica\Affirm\Gateway\Request\AbstractDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">OnePicaAffirmGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Pre Authorization Request Builder-->
    <virtualType name="AffirmGatewayPreAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">OnePica\Affirm\Gateway\Request\PreAuthorizationRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Pre Authorization Request Builder-->

    <virtualType name="AffirmGatewayCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">OnePica\Affirm\Gateway\Request\CaptureRequest</item>
            </argument>
        </arguments>
    </virtualType>


    <!-- Authorization Transfer Factory -->
    <virtualType name="AffirmClientGatewayTransferFactory" type="OnePica\Affirm\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="action" xsi:type="object">AffirmClientTransactionAction</argument>
            <argument name="config" xsi:type="object">OnePicaAffirmGatewayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="AffirmClientTransactionAction" type="OnePica\Affirm\Gateway\Helper\Request\Action">
        <arguments>
            <argument name="action" xsi:type="const">OnePica\Affirm\Gateway\Helper\Request\Action::API_CHARGES_PATH</argument>
        </arguments>
    </virtualType>
    <!-- Authorization Transfer Factory -->

    <type name="OnePica\Affirm\Gateway\Helper\Request\Action">
        <arguments>
            <argument name="config" xsi:type="object">OnePicaAffirmGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Pre Authorization Transfer Factory -->
    <virtualType name="AffirmPreAuthorizationGatewayTransferFactory" type="OnePica\Affirm\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="action" xsi:type="object">AffirmPreAuthorizationTransactionAction</argument>
            <argument name="config" xsi:type="object">OnePicaAffirmGatewayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="AffirmPreAuthorizationTransactionAction" type="OnePica\Affirm\Gateway\Helper\Request\Action">
        <arguments>
            <argument name="action" xsi:type="const">OnePica\Affirm\Gateway\Helper\Request\Action::API_CHECKOUT_PATH</argument>
        </arguments>
    </virtualType>
    <!-- Pre Authorization Transfer Factory -->

    <!-- Added plugin to the edit and save new order controller in admin  -->
    <type name="Magento\Sales\Controller\Adminhtml\Order\Edit\Save">
        <plugin name="before-edit-admin" type="OnePica\Affirm\Model\Plugin\Order\EditOrder" sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Controller\Adminhtml\Order\Create\Save">
        <plugin name="before-create-admin" type="OnePica\Affirm\Model\Plugin\Order\Create" sortOrder="1"/>
    </type>
</config>
