<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Astound_Affirm::rule"  title="Payment Restrictions Rules" module="Astound_Affirm" sortOrder="40" parent="Magento_CatalogRule::promo" action="affirm/rule" resource="Astound_Affirm::rule"/>
    </menu>
</config>