<!--
/**
 * Astound
 * Affirm system configuration.
 *
 * @category  Affirm
 * @package   Astound_Affirm
 * @copyright Copyright (c) 2016 Astound, Inc. (http://www.astoundcommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="affirm_gateway" translate="label" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Affirm</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mode</label>
                    <source_model>Astound\Affirm\Model\Adminhtml\Source\ModeAction</source_model>
                </field>
                <field id="public_api_key_sandbox" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Public API Key</label>
                    <depends><field id="mode">sandbox</field></depends>
                </field>
                <field id="private_api_key_sandbox" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Private API Key</label>
                    <config_path>payment/affirm_gateway/private_api_key_sandbox</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <attribute type="shared">1</attribute>
                    <depends><field id="mode">sandbox</field></depends>
                </field>
                <field id="api_url_sandbox" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API URL</label>
                    <depends><field id="mode">sandbox</field></depends>
                </field>
                <field id="financial_product_key_sandbox" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Financial Product Key</label>
                    <depends><field id="mode">sandbox</field></depends>
                </field>
                <field id="public_api_key_production" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Public API Key</label>
                    <config_path>payment/affirm_gateway/public_api_key_production</config_path>
                    <depends><field id="mode">production</field></depends>
                </field>
                <field id="private_api_key_production" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="0">
                    <label>Private API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <attribute type="shared">1</attribute>
                    <depends><field id="mode">production</field></depends>
                </field>
                <field id="api_url_production" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API URL</label>
                    <depends><field id="mode">production</field></depends>
                </field>
                <field id="financial_product_key_production" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Financial Product Key</label>
                    <depends><field id="mode">production</field></depends>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>Astound\Affirm\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
                <field id="financing_program_value_default" translate="label" type="text" sortOrder="72" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Financing Program value</label>
                </field>
                <field id="financing_program_value" translate="label" type="text" sortOrder="74" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Financing Program value</label>
                </field>
                <field id="start_date_mfp" translate="label" type="text" sortOrder="76" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Start date for Financing Program value</label>
                    <frontend_model>Astound\Affirm\Block\System\Config\Form\Field\Date</frontend_model>
                </field>
                <field id="end_date_mfp" translate="label" type="text" sortOrder="78" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>End date for Financing Program value</label>
                    <frontend_model>Astound\Affirm\Block\System\Config\Form\Field\Date</frontend_model>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Total</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Order Total</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="control" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Plain Text Appearance</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <depends><field id="control">1</field></depends>
                </field>
                <field id="icon" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon</label>
                    <depends><field id="control">0</field></depends>
                </field>
                <field id="info" translate="label" type="textarea" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Affirm Payment Method HTML</label>
                    <comment>This field will be showed in checkout on payment section.</comment>
                    <depends><field id="control">0</field></depends>
                </field>
                <field id="enable_checkout_button" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled Checkout Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="checkout_button_code" translate="label" type="textarea" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Checkout Button Code</label>
                    <depends><field id="enable_checkout_button">1</field></depends>
                </field>
            </group>
        </section>
        <section id="affirm" translate="label" type="text" sortOrder="1200" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Affirm Promos</label>
            <tab>general</tab>
            <resource>Astound_Affirm::configuration</resource>
            <group id="affirm_promo" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="promo_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Affirm Promo Key</label>
                </field>
            </group>
            <group id="affirm_promo_homepage" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Home Page Settings</label>
                <field id="display" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Display</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="size" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Promo Size</label>
                    <source_model>Astound\Affirm\Model\Config\System\Source\Size</source_model>
                </field>
                <field id="position" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Promo Position</label>
                    <source_model>Astound\Affirm\Model\Config\System\Source\Position</source_model>
                </field>
            </group>
            <group id="affirm_promo_category" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Catalog Category Page Settings</label>
                <field id="display" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Display</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="size" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Promo Size</label>
                    <source_model>Astound\Affirm\Model\Config\System\Source\Size</source_model>
                </field>
                <field id="position" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Promo Position</label>
                    <source_model>Astound\Affirm\Model\Config\System\Source\Position</source_model>
                </field>
            </group>
            <group id="affirm_promo_product" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Catalog Product Page Settings</label>
                <field id="display" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Display</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="size" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Promo Size</label>
                    <source_model>Astound\Affirm\Model\Config\System\Source\Size</source_model>
                </field>
                <field id="position" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Promo Position</label>
                    <source_model>Astound\Affirm\Model\Config\System\Source\Position::getBmlPositionsCPP</source_model>
                </field>
            </group>
            <group id="affirm_promo_checkout_cart" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Checkout Cart Page Settings</label>
                <field id="display" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Display</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="size" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Promo Size</label>
                    <source_model>Astound\Affirm\Model\Config\System\Source\Size</source_model>
                </field>
                <field id="position" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Promo Position</label>
                    <source_model>Astound\Affirm\Model\Config\System\Source\Position::getCCPosition</source_model>
                </field>
            </group>
            <group id="affirm_developer" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Developer settings</label>
                <field id="homepage_container" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Home page container</label>
                    <comment>
                        <![CDATA[Place html code with "{container}"-tag inside, which will be replaced with your promo block.]]>
                    </comment>
                </field>
                <field id="category_container" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Catalog Category Container</label>
                    <comment>
                        <![CDATA[Place html code with "{container}"-tag inside, which will be replaced with your promo block.]]>
                    </comment>
                </field>
                <field id="product_container" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Catalog Product Container</label>
                    <comment>
                        <![CDATA[Place html code with "{container}"-tag inside, which will be replaced with your promo block.]]>
                    </comment>
                </field>
                <field id="checkout_cart_container" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Checkout Cart Container</label>
                    <comment>
                        <![CDATA[Place html code with "{container}"-tag inside, which will be replaced with your promo block.]]>
                    </comment>
                </field>
            </group>
            <group id="affirm_aslowas" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>As Low As Functionality</label>
                <comment>
                    <![CDATA[Pay attention! Please, specify public key inside Affirm payment method. Stores->Configuration->Sales->Payment Methods->Affirm.
                        "As low as" will be visible only in case if product price or checkout cart total will be above of $50.
                    ]]>
                </comment>
                <fieldset_css>complex</fieldset_css>
                <field id="enabled_pdp" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable for PDP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_cc" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable for Shopping Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="apr_value" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Affirm Apr Value</label>
                    <comment>
                        <![CDATA[(Number) [0.00 - 0.99]]]>
                    </comment>
                    <frontend_class>required-entry validate-number</frontend_class>
                </field>
                <field id="month" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Affirm Promo Months</label>
                    <source_model>Astound\Affirm\Model\Config\System\Source\Months</source_model>
                </field>
                <field id="logo" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Affirm logo</label>
                    <source_model>Astound\Affirm\Model\Config\System\Source\Logo</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
