<!--
/**
 * OnePica
 * Affirm system configuration.
 *
 * @category  Affirm
 * @package   OnePica_Affirm
 * @copyright Copyright (c) 2016 One Pica, Inc. (http://www.onepica.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="affirm_gateway" translate="label" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Affirm</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mode</label>
                    <source_model>OnePica\Affirm\Model\Adminhtml\Source\ModeAction</source_model>
                    <config_path>payment/affirm_gateway/private_api_key</config_path>
                </field>
                <field id="public_api_key_sandbox" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Api key</label>
                    <depends><field id="mode">sandbox</field></depends>
                </field>
                <field id="private_api_key_sandbox" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>Private API key</label>
                    <config_path>payment/affirm_gateway/private_api_key_sandbox</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <attribute type="shared">1</attribute>
                    <depends><field id="mode">sandbox</field></depends>
                </field>
                <field id="api_url_sandbox" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api url</label>
                    <config_path>payment/affirm_gateway/api_url_sandbox</config_path>
                    <depends><field id="mode">sandbox</field></depends>
                </field>
                <field id="financial_product_key_sandbox" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Financial Product Key</label>
                    <config_path>payment/affirm_gateway/financial_product_key_sandbox</config_path>
                    <depends><field id="mode">sandbox</field></depends>
                </field>
                <field id="public_api_key_production" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Api key</label>
                    <config_path>payment/affirm_gateway/public_api_key_production</config_path>
                    <depends><field id="mode">production</field></depends>
                </field>
                <field id="private_api_key_production" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>Private API key</label>
                    <config_path>payment/affirm_gateway/private_api_key_production</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <attribute type="shared">1</attribute>
                    <depends><field id="mode">production</field></depends>
                </field>
                <field id="api_url_production" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api url</label>
                    <config_path>payment/affirm_gateway/api_url_production</config_path>
                    <depends><field id="mode">production</field></depends>
                </field>
                <field id="financial_product_key_production" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Financial Product Key</label>
                    <config_path>payment/affirm_gateway/financial_product_key_production</config_path>
                    <depends><field id="mode">production</field></depends>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>OnePica\Affirm\Model\Adminhtml\Source\PaymentAction</source_model>
                    <config_path>payment/affirm_gateway/payment_action</config_path>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Total</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <config_path>payment/affirm_gateway/sort_order</config_path>
                </field>
                <field id="control" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Plain Text Appearance</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="textarea" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label HTML Custom</label>
                    <depends><field id="control">1</field></depends>
                </field>
                <field id="icon" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon</label>
                </field>
            </group>
        </section>
    </system>
</config>
