<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="affirm" translate="label" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Affirm</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mode</label>
                    <source_model>OnePica\Affirm\Model\Adminhtml\Source\ModeAction</source_model>
                    <config_path>payment/affirm/private_api_key</config_path>
                </field>
                <field id="public_api_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Api key</label>
                    <config_path>payment/affirm/public_api_key</config_path>
                </field>
                <field id="private_api_key" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>Private API key</label>
                    <config_path>payment/affirm/private_api_key</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <attribute type="shared">1</attribute>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api url</label>
                    <config_path>payment/affirm/api_url</config_path>
                </field>
                <field id="financial_product_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Financial Product Key</label>
                    <config_path>payment/affirm/financial_product_key</config_path>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>OnePica\Affirm\Model\Adminhtml\Source\PaymentAction</source_model>
                    <config_path>payment/affirm/payment_action</config_path>
                </field>
                <field id="minimum_order_total" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Total</label>
                    <config_path>payment/affirm/minimum_order_total</config_path>
                </field>
                <field id="maximum_order_total" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Total</label>
                    <config_path>payment/affirm/maximum_order_total</config_path>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <config_path>payment/affirm/sort_order</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
